.titulo {
    margin-top: 35px;
    font-size: 25px;
    color: black;
    text-align: center;
}

.subtitulo {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    color: black;
    text-align: center;
}

body {
    background-image: url('');
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: hsl(180, 50%, 47%);
    margin: 1.5em;
}

tbody {
    display: block;
    height: 190px;
    overflow: auto;
}

thead,
tbody tr {
    text-align: center;
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

table {
    width: 50%;
}

.col-main {
    flex: 1;
}

.col-complementary {
    flex: 1;
}

@media only screen and (min-width: 640px) {
    .layout {
        display: flex;
    }
}

.container {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
}

.col {
    padding: 1em;
    margin: 0 2px 2px 0;
}

.text-centrado {
    align-items: center;
}

.botonStyle {
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: hsl(196, 60%, 5%);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.botonStyle:hover {
    color: #1883ba;
    background-color: #7CC4E4;
}