body {
    background: url(../img/fondo-formulario.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.modal-content {
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

form {
    text-align: left;
}

.form-group input {
    height: 40px;
    font-size: 18px;
    border: 0;
    padding-left: 35px;
    border-radius: 5px;
}

.form-groupfile input {
    height: 35px;
    font-size: 14px;
    border: 0;
    padding-left: 35px;
    border-radius: 5px;
}

.form-label {
    font-size: 18px;
    color: #fdfdfd;
    text-align: left;
}

button {
    width: 60%;
    margin: 5px 0 25px;
}

.forgot {
    padding: 5px 0;
}

.forgot a {
    color: white;
}

#correo-group label {
    text-align: left;
}